h1 {
	font-size: 30px;
	margin-bottom: 0;
}

h2 {
	font-size: 20px;
}

p {
	text-align: justify;
	margin-right: 20px;
}

#navigation nav {
	background-color: #7A1420;
}

:target:before {
	content:"";
	display:block;
	height:64px; /* fixed header height*/
	margin:-64px 0 0; /* negative fixed header height */
}

#banner img {
	width: 100%;
}

.cv-header {
	text-align: center;
}

.cv-block {
	margin-left: 20px;
	margin-right: 50px;
}

.indent {
	margin-left: 20px;
}

.left-column {
	display: inline;
	float: left;
	margin-right: 20px;
}

.modal {
	width: 75%;
}

.modal-content {
	padding: 0 !important;
}

#footer a {
	margin: 15px;
}

#footer a:hover {
	color: #FFFFFF;
}

.page-footer {
	margin-top: 0 !important;
	background-color: #7A1420 !important;
	text-align: center;
}
